:root {
    --border-color: #333;
    --primary-bg-color: #111;
    --secondary-bg-color: #000;
    --hallucinate-color: #f008;
    --clicky-color: #f33;
    --primary-text-color: #fff;
    background-color: var(--primary-bg-color);
    background-size: 100%;
    color: var(--primary-text-color);
}